<header>
  <div>
    <span class="logo1">The</span>
    <span class="logo2">Jatt</span>
    <span class="logo3">Blog</span>
  </div>
</header>


<main *ngIf="blogPosts$ | async  as blogPosts">
  <!-- <pre>
    {{blogPosts | json}}
  </pre> -->

  <div *ngFor="let blogPost of blogPosts.items" class="blog-posts-container">
    <img [src]="blogPost.fields.featuredImage.fields.file.url" alt="">

    <h2>{{blogPost.fields.title}}</h2>

    <p class="author">{{blogPost.fields.author}}</p>

    <p class="summary">{{blogPost.fields.summary}}</p>

    <a [routerLink]="['blog',blogPost.sys.id]">Read More </a>
  </div>
</main>
